/* TODO: Most borders here are place holders - remove them! */
html{
    text-align: center; /*Centers users-bar and chat-window divs*/
}

div{
    position: relative;
}

p{
    position: absolute;
}

input{
    position: absolute;
    padding: 2px;
    font-family: Avenir;
    font-size: 15px;
}

#users-bar{
    border: 1px solid black;
    width: 250px;
    display: inline-block; /*Allows div to be added next to this instead of at the bottom*/
    height: 800px;
}

#chat-window{
    border: 1px solid black;
    width: 700px;
    display: inline-block; /*Allows div to be added next to this instead of at the bottom*/
    height: 800px;
}

#chat-output{
    width: 700px;
    height: 750px;
    background-color: #DCDCDC;
}

#text-bar-div{
    width: 550px;
    height: 50px;
}

#text-bar{
    width: 540px;
    height: 40px;
    margin: 0 0 0 -275px;
}

#username-input-bar{
    width: 240px;
    height: 40px;
    margin-left: -125px;

}

#send-button{
    width: 150px;
    height: 50px;
    margin-left: 200px;
    margin-top: -50px;
    position: absolute;
    font-family: Avenir;
    font-size: 20px;

}