html{
    text-align: center; /*Centers users-bar and chat-window divs*/
    font-family: Avenir;
}

div{
    position: relative;
}

p{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: -20px;
}

#container{
    width: 1000px;
    height: 800px;
    margin: auto;
}

#users-bar{
    border: 1px solid black;
    width: 250px;
    height: 800px;
    left: 45px;
}

#chat-window{
    width: 700px;
    height: 802px;
    top: -802px;
    left: 300px;
}

#chat-output{
    width: 700px;
    height: 750px;
    background-color: #DCDCDC;
    overflow: auto;
    text-align: left;
}

#text-bar-div{
    /* border: 1px solid red; */
    width: 550px;
    height: 50px;
    top: -1px;
}

#text-bar{
    width: 540px;
    height: 45px;
    font-size: 15px;
}

#send-button-div{
    width: 150px;
    height: 50px;
    top: -50px;
    left: 550px;
}

#send-button{
    width: 150px;
    height: 51px;
    font-size: 20px;
}

#username-input{
    width: 250px;
    height: 50px;
}

#username-input-bar{
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

#confirm-name-button{
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin-top: 15px;
}

.this-sender{
    color: blue;
}

.other-sender{
    color: red;
}

.user-bar-item{
    width: 250px;
    height: 50px;
    border: 1px solid green;
    text-align: center;
}
